api-key.txt
/.venv
/__pycache__
/javascript/test.js
/static/test.css
/static/home-page.css
apoutput.txt
api-output.txt
api-json-ex.py
city-weather.py
db-api-key.txt
api.env
key.txt
.dist
/user/__pycache__
/weather/__pycache__
/static/js/weather_user_script.js