@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@200&display=swap');

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
.topnav {
    position: relative;
    overflow: hidden;
	position: sticky;
	top: 0;
	z-index: 100;
	transition: background-color 0.3s ease;
}

.topnav.blue {
	background-color: blue;
	color: #fff;
}
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  /* Centered Nav */
.topnav-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.topnav-centered a {
    margin-right: 10px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

.button {
	display: inline-block;
	margin: 4px 2px;
	background-color: #131316;
	font-size: 14px;
	padding-left: 32px;
	padding-right: 32px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: white;
	text-decoration: none;
	cursor: pointer;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.search-container {
	position: relative;
	display: inline-block;
	margin: 4px 2px;
	height: 50px;
	width: 50px;
	vertical-align: bottom;
}

.mglass {
	display: inline-block;
	pointer-events: none;
	/* 
	Vendor prefixes (like -webkit-, -moz-, -o-, and -ms-)
	are used to add new features
	in a way that won't break older versions of a browser.
	*/
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	/* 
	the transform property is defined without a vendor prefix, 
	which will be compatible with the current and future versions of browsers 
	once they adopt the standard specification.
	*/
	transform: rotate(-45deg);
}

.searchbutton {
	position: absolute;
	font-size: 22px;
	width: 100%;
	margin: 0;
	padding: 0;
}

.search:focus + .searchbutton {
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
	background-color: white;
	color: black;
}

.search {
	position: absolute;
	left: 49px;
	background-color: white;
	outline: none;
	border: none;
	padding: 0;
	width: 0;
	height: 100%;
	z-index: 10;
	transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	-webkit-transition-duration: 0.4s;
	-o-transition-duration: 0.4s;
}

.search:focus {
	width: 363px; /* Bar width+1px */
	padding: 0 16px 0 0;
}

.expandright {
	left: auto;
	right: 49px; /* Button width-1px */
}

.expandright:focus {
	padding: 0 0 0 16px;
}

.weather-title {
    text-align: center;
}

.weather-text {
    text-align: center;
}

.letter {
    display: inline;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.menu-hidden {
    opacity: 0;
    filter: blur(5px);
    /* transform: translateX(-100%); */
    transition: all 1s;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    /* Can play arround with the value depending on what you like */
    transform: translateX(-20%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.weather-info {
	width: 100%;
	display: flex;
	flex-direction: column; 
	align-items: center; 
	justify-content: center;
}

.weather-icon {
	vertical-align: middle;
}

.section { 
	display: grid;
    place-items: center;
    align-content: center;
	min-height: 100vh;
} 

.top-margin {
	margin-top: 50vh;
}

.text {
    text-align: center;
}

.weekly-text {
	display: flex;
    justify-content: space-between;
    align-items: center;
	flex-wrap: wrap;
	width: 100%;
}

.weekly-text span {
	flex: 1;
}

.weekly-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.day-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.hourly-forecast {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%; 
}

.weather-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.weather-item img {
    height: 50px;
    width: 50px;
}


.logos {
    display: flex;
}

.logo {
    margin: 5px;
}

.error-message {
    color: red;
    text-align: center;
}

