@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Poppins:wght@200&display=swap');

body {
    background-color: #131316;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}
.topnav {
    position: relative;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  /* Centered Nav */
.topnav-centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.topnav-centered a {
    margin-right: 10px;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
    float: right;
}

.search-bar {
    margin-top: 5px;
    padding-top: 5px;
    /* padding: 0px; */
    /* margin-right: 0px; */
    width: 50%;
    background-color: #131316;
    border-color: #131316;
}

.weather-title {
    text-align: center;
}

.weather-text {
    text-align: center;
}


.letter {
    display: inline;
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.menu-hidden {
    opacity: 0;
    filter: blur(5px);
    /* transform: translateX(-100%); */
    transition: all 1s;
}

.hidden {
    opacity: 0;
    filter: blur(5px);
    /* Can play arround with the value depending on what you like */
    transform: translateX(-20%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.text {
    text-align: center;
}

.logos {
    display: flex;
}

.logo {
    margin: 5px;
}


.error-message {
    color: red;
    text-align: center;
}

