header {
    background: wheat;
}

.letter {
    display: inline;
    opacity: 0;
    transition: opacity 0.5s;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    padding: 10px;
}

/* nav a:hover {
    background-color: #ddd;
} */
