{% extends "index.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}

<!-- Top navigation -->
<div class="topnav menu-hidden">
    <!-- Centered link -->
    <div class="topnav-centered">
    <a href="/" class="active">Home</a>
    <a href="#about-us" class="active">About us</a>
    <a href="#contact" class="active">Contact</a>
    </div>

    <!-- Left Aligned Link  -->
    {% if user %}
        <div class="topnav-left">
            <a href="/dashboard">{{session['user']['email']}}</a>
            <button class="login-btn" type="signout"><a href="/user/signout">Signout</a></button>
        </div>
    {% else %}
        <button class="topnav-button" id="showFormButton"><i class="fa-solid fa-user fa-lg" style="color: #ffffff;"></i></label></button>
        <div class="topnav-left" id="login">
            <form id="formContainer" name="login_form" class="hide" action="/login" method="get">
                <i class="fa-solid fa-user" style="color: #ffffff;"></i></label>
                <input type="text" name="email" placeholder="email" required>
                
                <i class="fa-solid fa-lock" style="color: #ffffff;"></i>
                <input type="password" name="password" placeholder="password" required>
                

                <input class="submit-btn" type="submit" value="Log in">
                <!-- <p id="errorMessage" class="error error--hidden"></p> -->
            </form>
            <a id="signup-link" class="signup-link hide" href="/user">Or Register here!</a>
        </div>
    {% endif %}

    <!-- Right-aligned links -->
    <div class="search-container topnav-right">
        <form action="/search" method="get">
        <input class="search expandright" id="searchright" type="text" name="city" placeholder="Search">
        <label class="button searchbutton" for="searchright"><span class="mglass">&#9906;</span></label>
        </form>
    </div>
</div>

<section class="hidden">
    <h1>Weather Forecast</h1>
    <div id="hidden">
        <p class="text">This is a simple Flask-based application that gives you weather data for any city in the world.</p>
    </div>
</section>

<section class="hidden" id="about-us">
    <h2>About us</h2>
    <p class="text">This weather application marks my first venture into coding and software development. 
        It is the product of countless hours of dedicated learning, problem-solving, and immense personal growth. 
        The project features user authentication, favorite city functionality, and is backed by Flask and MongoDB. 
        The journey, full of challenges, has solidified my passion for coding and deepened my understanding of programming concepts and design principles. 
        It's a testament to my progress and the exciting start of my coding journey.</p>
</section>

<section class="hidden" id="contact">
    <h2>Contact</h2>
    <div class="logos">
        <div class="logo hidden">
            <i class="fa-solid fa-cloud fa-2xl" style="color: #ffffff;"></i>
        </div>
        <div class="logo hidden">
            <i class="fa-solid fa-cloud-sun-rain fa-2xl" style="color: #fafafa;"></i>
        </div>
        <div class="logo hidden">
            <i class="fa-solid fa-cloud-sun fa-2xl" style="color: #ffffff;"></i>
        </div>
        <div class="logo hidden">
            <i class="fa-solid fa-cloud-rain fa-2xl" style="color: #ffffff;"></i>
        </div>
       
    </div>
    <div>
        <ul>
            <li><a class="contact-list" href="mailto:johnntirintis@gmail.com"><i class="fa-solid fa-envelope fa-xl" style="color: #ffffff;"></i> Email</a></li>
            <li><a class="contact-list" href="https://github.com/JohnNtirintis" target="_blank" ><i class="fa-brands fa-github fa-xl" style="color: #fcfcfc;"></i> GitHub</a></li>
            <li><a class="contact-list" href="https://www.linkedin.com/in/ioannis-panagiotis-ntirintis" target="_blank"><i class="fa-brands fa-linkedin fa-xl" style="color: #fcfcfc;"></i> LinkedIn</a></li>
        </ul>
    </div>
</section>

{% endblock %}

{% block js %}
<!-- Include scripts from parent templates
        i.e. jquery.js -->
<!-- {{ super( )}} -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/user_script.js') }}"></script>
{% endblock %}