{% extends "index.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block content %}

<!-- Top navigation -->
<div class="topnav menu-hidden">
    <!-- Centered link -->
    <div class="topnav-centered">
    <a href="/" class="active">Home</a>
    <a href="#about-us" class="active">About us</a>
    <a href="#contact" class="active">Contact</a>
    </div>

    <!-- Left Aligned Link  -->
    <button class="topnav-button" id="showFormButton"><i class="fa-solid fa-user fa-lg" style="color: #ffffff;"></i></label></button>
    <div class="topnav-left">
        <form id="formContainer" name="signup_form" class="hide" action="/login" method="get">
            <i class="fa-solid fa-user" style="color: #ffffff;"></i></label>
            <input type="text" name="name" placeholder="username" required>
            
            <i class="fa-solid fa-lock" style="color: #ffffff;"></i>
            <input type="password" name="passowrd" placeholder="password" required>

            <input class="submit-btn" type="submit" value="Log in">
        </form>
        <a id="signup-link" class="signup-link hide" href="user/signup">Or Register here!</a>
    </div>

    <!-- Right-aligned links -->
    <div class="search-container topnav-right">
        <form action="/search" method="get">
        <input class="search expandright" id="searchright" type="text" name="city" placeholder="Search">
        <label class="button searchbutton" for="searchright"><span class="mglass">&#9906;</span></label>
        </form>
    </div>
</div>

<section class="hidden">
    <h1>Weather Forecast</h1>
    <div id="letters">
        <p class="letter hidden">H</p>
        <p class="letter hidden">e</p>
        <p class="letter hidden">l</p>
        <p class="letter hidden">l</p>
        <p class="letter hidden">o</p>
    </div>
</section>

<section class="hidden" id="about-us">
    <h2>About us</h2>
    <p class="text">Lorem ipsum dolor sit amet conae coenetenderit. Repellendus! </p>
</section>

<section class="hidden" id="contact">
    <h2>Contact</h2>
    <div class="logos">
        <div class="logo hidden">
            <i class="fa-solid fa-cloud fa-2xl" style="color: #ffffff;"></i>
        </div>
        <div class="logo hidden">
            <i class="fa-solid fa-cloud-sun-rain fa-2xl" style="color: #fafafa;"></i>
        </div>
        <div class="logo hidden">
            <i class="fa-solid fa-cloud-sun fa-2xl" style="color: #ffffff;"></i>
        </div>
        <div class="logo hidden">
            <i class="fa-solid fa-cloud-rain fa-2xl" style="color: #ffffff;"></i>
        </div>
    </div>
</section>

{% endblock %}

{% block js %}
<!-- Include scripts from parent templates
        i.e. jquery.js -->
<!-- {{ super( )}} -->
<script src="{{ url_for('static', filename='js/main.js') }}"></script>
{% endblock %}