<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>

    <link rel="stylesheet" href="../static/main.css">

    <script defer src="../static/main.js"></script>
    <script src="https://kit.fontawesome.com/4fdd9d5910.js" crossorigin="anonymous"></script>
</head>
<body>

    <!-- Top navigation -->
    <div class="topnav menu-hidden">
        <!-- Centered link -->
        <div class="topnav-centered">
        <a href="/" class="active">Home</a>
        <a href="#about-us" class="active">About us</a>
        <a href="#contact" class="active">Contact</a>
        </div>

        <!-- Right-aligned links -->
        <!-- <div class="topnav-right">
            <input class="search-bar" type="text" placeholder="&#xF002;" style="font-family:Arial, FontAwesome" />
        </div> -->
        <div class="search-container topnav-right">
            <form action="/search" method="get">
            <input class="search expandright" id="searchright" type="text" name="city" placeholder="Search">
            <label class="button searchbutton" for="searchright"><span class="mglass">&#9906;</span></label>
            </form>
        </div>
    </div>

    <!-- <nav>
        <ul class="menu menu-hidden">
            <li class="letter menu-hidden"><a href="#" >Weather</a></li>
            <li class="letter menu-hidden"><a href="#" >About Us</a></li>
            <li class="letter menu-hidden"><a href="#" >Test</a></li>
        </ul>
    </nav> -->

    <section class="hidden">
        <h1>Weather Forecast</h1>
        <div id="letters">
            <p class="letter hidden">H</p>
            <p class="letter hidden">e</p>
            <p class="letter hidden">l</p>
            <p class="letter hidden">l</p>
            <p class="letter hidden">o</p>
        </div>
    </section>

    <section class="hidden" id="about-us">
        <h2>About us</h2>
        <p class="text">Lorem ipsum dolor sit amet conae coenetenderit. Repellendus! </p>
    </section>

    <section class="hidden" id="contact">
        <h2>Contact</h2>
        <div class="logos">
            <div class="logo hidden">
                <i class="fa-solid fa-cloud fa-2xl" style="color: #ffffff;"></i>
            </div>
            <div class="logo hidden">
                <i class="fa-solid fa-cloud-sun-rain fa-2xl" style="color: #fafafa;"></i>
            </div>
            <div class="logo hidden">
                <i class="fa-solid fa-cloud-sun fa-2xl" style="color: #ffffff;"></i>
            </div>
            <div class="logo hidden">
                <i class="fa-solid fa-cloud-rain fa-2xl" style="color: #ffffff;"></i>
            </div>
        </div>
    </section>
</body>
</html>