<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Application</title>

    <script src="https://kit.fontawesome.com/4fdd9d5910.js" crossorigin="anonymous"></script>

    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
    {% endblock %}
      
</head>
<body>

    {% block content %}
        {# Template inserted here #}
    {% endblock %}

    <!-- <script src="../static/js/main.js"></script> -->
    {% block js %}
    <link rel="stylesheet" href="{{ url_for('static', filename='common.css') }}">
    {% endblock %}
    <script src="../static/js/jquery.js"></script>
</body>
</html>