<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../static/test.css">

    <script src="../javascript/test.js"></script>
</head>
<body>
    <header class="header1">
        <nav>
            <ul>
              <li><a href="#">Categories</a></li>
              <li><a href="#">About Us</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </nav>
    </header>

    <section class="hidden">
        <h1>Weather Forecast</h1>
        <div id="letters">
            <p class="letter hidden">H</p>
            <p class="letter hidden">e</p>
            <p class="letter hidden">l</p>
            <p class="letter hidden">l</p>
            <p class="letter hidden">o</p>
        </div>
    </section>
</body>
</html>