{% extends "index.html" %}

{% block css %}
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}

<!-- Top navigation -->
<div class="topnav menu-hidden">
    <!-- Centered link -->
    <div class="topnav-centered">
    <a href="/" class="active">Home</a>
    <a href="#week-forecast" class="active">Weekly Forecast</a>
    <a href="#contact" class="active">Contact</a>
    </div>

    <!-- Right-aligned links -->
    <div class="search-container topnav-right">
        <form action="/search" method="get">
          <input class="search expandright" id="searchright" type="text" name="city" placeholder="Search">
          <label class="button searchbutton" for="searchright"><span class="mglass">&#9906;</span></label>
        </form>
      </div>

    <!-- Left Aligned Links  -->
    {% if user %}
        <div class="topnav-left">
            <a href="/dashboard">{{session['user']['email']}}</a>
            <button class="login-btn" type="signout"><a href="user/signout">Signout</a></button>
        </div>
    {% else %}
        <button class="topnav-button" id="showFormButton"><i class="fa-solid fa-user fa-lg" style="color: #ffffff;"></i></label></button>
        <div class="topnav-left">
            <form id="formContainer" name="signup_form" class="hide" action="/login" method="get">
                <i class="fa-solid fa-user" style="color: #ffffff;"></i></label>
                <input type="text" name="name" placeholder="username" required>
                
                <i class="fa-solid fa-lock" style="color: #ffffff;"></i>
                <input type="password" name="password" placeholder="password" required>

                <input class="submit-btn" type="submit" value="Log in">
            </form>
            <a id="signup-link" class="signup-link hide" href="/user">Or Register here!</a>
        </div>
    {% endif %}
</div>

<!-- Remove section if you encounter any problems with centering etc. -->
<section>
    {% if city %}
    <div class="menu-hidden weather-title">
        {% if user %}
            <h1 id="city" name="city"class="city content-section">Weather forecast for city: {{city}}
                <button class="favorite-btn star-btn" id="favoriteCity" data-city="{{city}}">
                <i id="star" class="fa-sharp fa-solid fa-star fa-lg star-btn"></i></button>    
            </h1>
        {% else %}
            <h1 class="content-section">Weather forecast for city: {{city}}
                <button class="favorite-btn" id="favoriteCity">
            </h1>
        {% endif %}
    </div>

    <div class="hidden letter weather-text">
        <h3>
            <div class="weather-info">
                <img class="weather-icon" src="{{ icon_url }}" alt="Weather Icon">
                <p> {{temp}} °C</p> 
            </div>
            
            Humidity: {{humidity}} <i class="fa-solid fa-droplet fa-xl" style="color: #ffffff;"></i> <br>
            Wind Speed: {{wind_speed}}m/s N <br>
            Weather Description: {{weather_desc}} 
        </h3>
    </div>
    {% elif error%}
        <h1 class="error-message">Error: {{error}}</h1>
    {% else %}
        <p>No Information Available</p>
    {% endif %}
</section>

<section class="section top-margin" id="week-forecast">
    <div class="hidden letter weather-title">
        <h2>Weekly Forecast</h2>
    </div>
    <div class="hidden letter weekly-container">
        {% for date, forecasts in week_data.items() %}
        <div class="day-container">
            <h3 class="date">{{date}}</h3>
            <div class="hourly-forecast">
                {% for forecast in forecasts %}
                <div class="weather-item">
                    <span>Hour: {{forecast['hour']}},</span>
                    <span>Temp: {{ (forecast['main']['temp'])|round(2) }}</span>
                    <img class="weather-icon" src="http://openweathermap.org/img/w/{{ forecast['weather'][0]['icon'] }}.png" alt="Weather Icon">
                </div>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</section>

<section class="section" id="contact">
    <div class="hidden weather-title">
        <h2>This is a test</h2>
    </div>
    <div class="weather-info">
        <img class="weather-icon" src="{{ icon_url }}" alt="Weather Icon">
        <p> {{temp}} °C</p> 
    </div>
</section>

{% endblock %}

{% block js %}
<!-- Include scripts from parent templates -->
<!-- {{ super( )}} -->
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/style.js') }}"></script>
{% endblock %}